<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Worldflix</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-5 mt-5 center">Films:</h1>
        <div class="films-grid mb-10">
            <% films.forEach(film =>{ %>
                <div class="film-cell">
                    <h2 class="mb-4">Name:
                        <%= film.name %>
                    </h2>
                    <a href="/film/show/<%= film.id %>"><img src="../films/<%= film.id %>/img.png" alt="image"></a>
                    <div class="mb-5">
                        <h3>Tags:</h3>
                        <%= film.tags %>
                    </div>
                    <!-- I have to change this because google will delete all my films-->
                    <form action="/film/remove/<%= film.id %>" method="POST">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                </div>

                <% }) %>

        </div>
        <div class="center">
            <a class="btn" href="/film/upload">Upload film</a>
        </div>
    </div>
</body>

</html>